.logo {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: var(--2, radial-gradient(337.35% 73.23% at 87.5% 50%, #FF2C78 0%, #DCA4FF 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}